<h1>Stupid Coaching</h1>
<p>Ask your coach anytyhing:</p>
<form action="answer">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>


<!-- <h1>Our first view 🚀</h1>
 -->
